<h2>Loading and simple state demo</h2>
<button (click)="startLoading()">Start loading +</button>
<button (click)="stopLoading()">Stop loading -</button>
<br>
loading count: {{ loadingCount$ | async }}
<nsl-loading-indicator spinnerPath="assets/loading-indicator/packman.svg" [show]="loading$ | async"></nsl-loading-indicator>

<p>
  Why counter for loading? In case that you want to use single loading state this is probably better solution.
  <br>
  Why? Why not boolean?
  <br>
  Because we could now use an http interceptor in which we would intercept each http call, start loading on the beginning and finish on final (success or failure).
  Therefore we can count the calls so we would know when an app is loading something, and this information is kept in single place.
  <br>
</p>
