<p>
  In order to toggle different implementation in the code open notifications-demo.module.ts and notifications-demo.component.ts and change import
</p>
<button (click)="showNotification()">Show notification</button>

<ns-notification></ns-notification>
