$dc-loading-indicator-size: 100px !default;

.loading-indicator {
  z-index: 1;

  &:not(.embedded) {
    position: fixed;
    top: 50vh;
    left: 50vw;
    margin-top: -$dc-loading-indicator-size/2;
    margin-left: -$dc-loading-indicator-size/2;

    .loading-spinner {
      width: $dc-loading-indicator-size;
    }
  }

  &.embedded {
    .loading-spinner {
      width: $dc-loading-indicator-size/2;
    }
  }

  &.center:not(.absolute) {
    .loading-spinner {
      margin: 0 auto
    }
  }

  &.absolute {
    position: absolute;
  }
}
