<h2>Nested pages from router demo</h2>
<h4>Links</h4>
<a class="nav-link" [routerLink]="['one']">One</a>
<a class="nav-link" [routerLink]="['two']">Two</a>
<a class="nav-link" [routerLink]="['three']">Three</a>

<router-outlet></router-outlet>
