<div mdcSnackbar [ngClass]="'mdc-snackbar--' + notification?.type"
     [timeout]="notification?.duration" (closed)="onClosed($event)">
  <div class="mdc-snackbar__surface">
    <div class="mdc-snackbar__label" role="status">
      {{ notification?.message }}
    </div>
    <div class="mdc-snackbar__actions">
      <button *ngIf="notification?.retryAction != null" type="button" class="mdc-button mdc-snackbar__action"
              [title]="'NOTIFICATION.RETRY' | translate" (click)="retry(notification)">
        {{ 'NOTIFICATION.RETRY' | translate }}
      </button>
      <button *ngIf="notification?.closable" class="mdc-icon-button mdc-snackbar__dismiss"
              [title]="'NOTIFICATION.CLOSE' | translate" (click)="close('closed')">
        ✗
      </button>
    </div>
  </div>
</div>
