<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> Welcome to {{ title }}! </h1>
</div>
<ns-navigation></ns-navigation>
<br>

<div class="main">
  <router-outlet></router-outlet>
</div>

<h3>Article</h3>
<a href="https://medium.com/@m3po22/stop-using-ngrx-effects-for-that-a6ccfe186399">https://medium.com/@m3po22/stop-using-ngrx-effects-for-that-a6ccfe186399</a>
/notification.component
