$tooltip-background-color: rgba(255, 255, 255, .9);

.ned-graph {
  height: 100%;
  width: 100%;

  .ned-graph-area {
    border: 1px deepskyblue solid;
    ::ng-deep {
      .node {
        cursor: pointer;

        .bubble {
          fill-opacity: .4;
          stroke-width: 0;
        }

        .bubble-text {
          fill: dimgray;
          font-size: .9em;
        }

        &.selected {
          .bubble {
            fill-opacity: .9;
            stroke-width: 2px;
            stroke-opacity: 1;
          }
        }
      }
    }
  }

  ::ng-deep {
    .ned-tooltip {
      position: absolute;
      visibility: hidden;

      min-width: 150px;
      height: 4rem;

      //border: 1px solid grey;
      background-color: $tooltip-background-color;
      border-radius: 3px;

      text-align: center;

      .ned-category {
        padding: .2em;
        font-weight: bold;
        font-size: .8em;
        text-align: left;
      }

      .ned-value {
        position: relative;
        top: 10%;
        padding: 0 1em;
      }

      .ned-total-docs {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .2em;
        font-size: .8em;
        text-align: right;
      }
    }
  }
}
