<div class="ned-graph"
     #graphContainer>
  <svg class="ned-graph-area"></svg>
  <div class="ned-tooltip">
    <div class="ned-category"></div>
    <div class="ned-value"></div>
    <div class="ned-total-docs"></div>
  </div>
</div>
<div>
  Boubles count: {{ localData.length }}
  <br>
  <label>Center Force </label> <input name="centerForce" type="number" step="0.01" [(ngModel)]="options.centerForce">
  Final <span style="color: red">strength</span> value: {{ options.centerForce / localData.length }} [center force / bubble count]
  <br>
  <label>Link Force </label> <input name="linkForce" type="number" step="0.01" [(ngModel)]="options.linkForce">
  Should be greater then <span style="color: red">strength</span> in order to "hold" bubbles in group
  <br>
  <label>Node Distance </label> <input name="nodeDistance" type="number" step="0.01" [(ngModel)]="options.nodeDistance">
  <br>
  ================= CUSTOM PROPS =================
  <br>
  <label>Off screen </label> <input name="offScreen" type="number" step="1" [(ngModel)]="offScreen">
  Allow bubbles go "off screen"
  <br>
  <label>Alpha </label> <input name="alpha" type="number" step="0.01" [(ngModel)]="alpha">
  Click on the screen to re heat graph. The greater alpha the more "energy" is added to the simulation
  <br>
  <label>No Links </label> <input name="noLinks" type="checkbox" [(ngModel)]="noLinks">
  <br>
  <label>No animation </label> <input name="staticChart" type="checkbox" [(ngModel)]="staticChart"> <label>Static ticks # </label> <input name="staticChartTicks" type="number" step="50" [(ngModel)]="staticChartTicks">
  <br>
  <button (click)="redraw()">Redraw</button>
  <br> <br>
  Last clicked item: {{ preview | json }}
  <br> <br>
  Selected elements: {{ selected | json }}
</div>
