<h3> view-three works!</h3>
<p>This page contains links to nested page two and lazyload loading demo</p>
<a class="nav-link" [routerLink]="['two']">Two Nested</a>
<a class="nav-link" [routerLink]="['nested-loading-demo']">Nested loading demo</a>
<a class="nav-link" [routerLink]="['../..', 'loading-demo']">Up loading demo</a>
<a class="nav-link" [routerLink]="['/', 'loading-demo']">Absolute loading demo</a>

<router-outlet></router-outlet>
