<a class="nav-link" [routerLink]="['/']">Home</a>
<a class="nav-link" [routerLink]="['loading-demo']">Loading demo</a>
<a class="nav-link" [routerLink]="['notifications-demo']">Notifications demo</a>
<a class="nav-link" [routerLink]="['nested-pages-demo']">Nested pages demo</a>
<a class="nav-link" [routerLink]="['json-placeholder-api-demo']">JSON Placeholder API</a>
<a class="nav-link" [routerLink]="['bubble-chart-demo']">Bubble chart demo</a>
