/* You can add global styles to this file, and also import other style files */
@import "styles/variables";
@import "styles/material";

.nav-link {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px 10px;
  background-color: slategray;
  border-radius: 5px;
  color: white;
}
