<h2>json-placeholder-api-demo works!</h2>

<p>This is an example for using resolvers. Resolver can load the data before the view is loaded based on the url</p>

<a class="nav-link" [routerLink]="['todos']">Todos</a>
<a class="nav-link" [routerLink]="['posts']">Posts</a>
<a class="nav-link" [routerLink]="['users']">Users</a>

<router-outlet></router-outlet>
